* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: red;

}

.nav ul li{
    display: inline-block;
    margin: 20px 10px ;
    text-align: right;
    
}

.round{
    background-color: white;
    color: black;
    padding: 10px;
}