* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}


.nav ul li{
    display: inline-block;
    margin: 20px 10px ;
    position: relative;
}

a{
    text-decoration: none;
}

.round{
    background-color: white;
    color: inherit;
    padding: 15px;
    font-weight: bold;
    position: absolute;
    left: 1000px;
    border-radius: 50%;
   
}

section{
    height: 100vh;
}

#first{
    background-color: red;

}

#second{
    background-color: green;
}

#third{
    background-color: yellow;
}

.text{
    color: yellow;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}


.text-2{
    color: green;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}